<div class="alert alert-danger" role="alert" *ngIf="msgError">
  {{ msgError }}
</div>
<div>
  <h3>Add</h3>
</div>
<hr>
<div>
  <h4>TOTAL: {{ result }}</h4>
</div>
<div>
  <div class="mb-3" *ngFor="let field of fields; let i=index">
    <label for="exampleFormControlInput1" class="form-label">Value</label>
    <input type="text" class="form-control" [(ngModel)]="field.value" placeholder="Number">
  </div>
  <div class="text-end">
    <button type="button" class="btn btn-primary" (click)="add()">Add +</button>
  </div>
  <div>
    <button type="button" class="btn btn-success" (click)="calc()">Calculate Result</button>
  </div>
</div>