<div class="d-flex pt-4 row">
  <div class="col p-2">
    <div class="font-weight-bold d-flex align-items-center">
      <span translate>Items per page</span>
      <span>: </span>
      <select class="form-select select-width me-2" [(ngModel)]="perPage" (change)="onPerPage()">
        <option *ngFor="let item of itemPerPage" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
  </div>
  <div class="col p-2">
    <div class="d-flex align-items-center justify-content-end">
      <div>
        <button type="button" class="btn me-2 btn-outline-secondary icon-grey" (click)="onFirst()"
          [disabled]="isDisabled('first')">
          <span>
            <<< </span>
        </button>
        <button type="button" class="btn btn-outline-secondary icon-grey" (click)="onPrev()"
          [disabled]="isDisabled('first')">
          <span>
            << </span>
        </button>
      </div>
      <div class="px-2">
        <span>{{ currentPage }}</span>
        <span class="px-2" translate>of</span>
        <span>{{ pages }}</span>
      </div>
      <div>
        <button type="button" class="btn me-2 btn-outline-secondary icon-grey" (click)="onNext()"
          [disabled]="isDisabled('last')">
          <span class="fa fa-angle-right icons"></span>
          <span>></span>
        </button>
        <button type="button" class="btn btn-outline-secondary icon-grey" (click)="onLast()"
          [disabled]="isDisabled('last')">
          <span class="fa fa-angle-double-right"></span>
          <span>>></span>
        </button>
      </div>
    </div>
  </div>
</div>