
.list-history {
  border-top: 1px solid #cecece;
  td {
    border: none;
    vertical-align: middle;

    &:nth-child(1) {
      width: 15%;
    }

    &:nth-child(2) {
      width: 80%;
    }

    &:nth-child(3) {
      width: 15%;
    }
  }

  tr {
    border-bottom: solid 1px #cecece;
  }
}