<div>
  <h3>History</h3>
</div>
<hr>
<div class="card-body">
  <div class="table-responsive">
    <table class="table">
      <thead class="text-title">
        <th translate>Date</th>
        <th translate>Arguments</th>
        <th translate>Result</th>
      </thead>
      <tbody class="list-history">
        <tr *ngFor="let history of historiesList; let i=index">
          <td>{{ history.createdAt | date:"MM/dd/yyyy" }}</td>
          <td>{{ history.arguments }}</td>
          <td>{{ history.result }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="historiesList.length > 0">
  <app-pagination [pages]="meta.totalPages" [currentPage]="searchParams.page" [perPage]="searchParams.perPage"
    (goNext)="onNext()" (goPrev)="onPrev()" (goFirst)="onFirst()" (goLast)="onLast()"
    (goPerPage)="onPerPage($event)">
  </app-pagination>
</div>