<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light h-100" style="width: 280px;">
  <span class="fs-4">
    Calculator
  </span>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li routerLinkActive="active" class="nav-item" *ngFor="let menuItem of menuItems; let i=index">
      <a class="nav-link link-dark" [routerLink]="menuItem.path" routerLinkActive="active">
        {{ menuItem.name }}
      </a>
    </li>
  </ul>
</div>